#crew{
    background-image: url('/assets/crew/background-crew-mobile.jpg');
    @include bg;
    main{
        text-align: center;
        h5{
            @include heading5-mb;
            color: $white; 
            padding-top: 3.3802816901408vh;
            padding-bottom:  4.507042253521127vh;
            text-align: center;
            span{
                font-weight: bold;
                mix-blend-mode: normal;
                opacity: 0.25;
                padding-right: 16px;
            }
        }
        .swiper{
            height: 100%;
            .swiper-slide{
                text-align: center;
                cursor: grab;
                .content{
                    width: 87.2vw !important;
                    margin: 0 auto;
                    margin-left: 0;
                    img{
                        height:  31.408450704225356vh; 
                    }
                    hr{
                        position: relative;
                        bottom: 4px;
                        @include line;
                    }
                    .wraper{
                        padding-top: 10.422535211267606vh;
                        small{
                            text-transform: uppercase;
                            mix-blend-mode: normal;
                            opacity: 0.45;
                            color: $white;
                            font-family: $bellafair;
                            font-size: 16px;
                        }
                        .sub-sub{
                            font-size: 24px;
                            font-family: $bellafair;
                            color: $white;
                            text-transform: uppercase;
                            padding-top:  1.1267605633802817vh;
                            padding-bottom: 2.2535211267605635vh;
                        }
                        p{
                            @include p-mb;
                            color: $lightblue;
                        }
                    }
                }
            }
        }
    }
    .swiper-pagination{
        width: 100vw;
        height: 10px;
        position: absolute !important;
        top:  55.6vh;
    }
      .swiper-pagination-bullet {
        margin: 0 var(--swiper-pagination-bullet-horizontal-gap,8px) !important;
        border-radius: 50%;
        width: 10px;
        height: 10px;
        mix-blend-mode: normal;
        opacity: 0.25;
        background-color: $white;
        &:hover{
            opacity: 0.5; 
        }
    }
    .swiper-pagination-bullet-active {
        background: $white;
        opacity: 1;
    }
}

@media screen and(min-width: 768px) {
    html{
        overflow-y: hidden;
    }
    #crew{
        background-image: url('/assets/crew/background-crew-tablet.jpg');
        @include bg;
        main{
            h5{
                @include heading5-hm-tb;
                color: $white; 
                text-align: start;
                padding-left: 38.5px;
                padding-top: 3.90625vh;
                padding-bottom: 5.859375vh;
                span{
                    font-weight: bold;
                    mix-blend-mode: normal;
                    opacity: 0.25;
                    padding-right: 2.083vw;
                }
            }
            .swiper{
                .swiper-slide{
                    .content{
                        display: flex;
                        flex-direction: column-reverse;
                        hr{
                            display: none;
                        }
                        img{
                            height: 55.859375vh;
                            margin: 0 auto;
                            margin-top: 8.7890625vh;
                        }
                        .wraper{
                            padding-top: 0;
                            small{
                                font-size: 24px;
                            }
                            .sub-sub{
                                font-size: 40px !important;
                            }
                            p{
                                @include p-tb;
                            }
                        }
                    }
                    #douglas{
                        max-width: 59.635vw;
                    }
                    #mark{
                        max-width: 67.708vw;
                    }
                    #victor{
                        max-width: 77.083vw;
                    }
                    #ansari{
                        max-width: 71.094vw;
                    }
                }
            }
        }
    }
    .swiper-pagination{
        top: 42vh !important;
    }
}
@media screen and(min-width: 1024px){
    #crew{
        background-image: url('/assets/crew/background-crew-desktop.jpg');
        @include bg;
        main{
            h5{
                @include heading5-hm-pc;
                margin-left: 11.528vw;
                padding-top: 8.444444444444445vh;
                padding-bottom: 0;
                width: 21.528vw;
                padding-left: 0;
            }
            .swiper{
                .swiper-slide{
                    padding-right: 11.528vw;
                    .content{
                        // position: ;
                        // top: 557px;
                        // margin-left: 11.528vw;
                        margin: 0 auto !important;
                        flex-direction: row-reverse;
                        img{
                            margin: 0;
                        }
                        .wraper{
                            text-align: start;
                            width: 100%;
                            padding-top: 17.11111111111111vh;
                            height: 100vw;
                            small{
                                font-size: 2.222vw;
                            }
                            p{
                                @include p-pc;
                                width: 30.833vw;
                            }
                            .sub-sub{
                                font-size: 3.889vw !important;
                                margin-top: 1.4444444444444444vh;
                                margin-bottom: 4vh;
                                padding: 0;
                            }
                        }
                    }
                    #douglas{
                        max-width: 79.028vw;
                        img{
                            width: 39.444vw;
                            height: 79.11111111111111vh;
                            // position: relative;
                            // bottom: 65px;
                        }
                        .sub-sub{
                            width: 33.889vw;
                        }
                    }
                    #mark{
                        max-width: 76.944vw;
                        img{
                            width: 31.458vw;
                            height: 72.66666666666667vh;
                        }
                        .sub-sub{
                            width: 42.639vw;
                        }
                    }
                    #victor{
                        max-width: 78.611vw;
                        img{
                            width: 38.472vw;
                            height: 75.66666666666667vh;
                        }
                        .sub-sub{
                            width: 30.764vw;
                        }
                    }
                    #ansari{
                        max-width: 82.292vw;
                        img{
                            width: 42.708vw;
                            height: 67.44444444444444vh;
                            margin-top:  5.222222222222222vh;
                        }
                        .sub-sub{
                            width: 36.944vw;
                        }
                    }
                }
            }
        }
    }
    .swiper-pagination{
        width: 100vw;
        // width: 9.167vw !important;
        top: 88vh !important;
        left:  -34vw !important;
    }
    .swiper-pagination-bullet{
        margin: var(--swiper-pagination-bullet-horizontal-gap,12px) !important;
        width: 15px !important;
        height: 15px !important;
    }
}

@media screen and(min-width: 1700px) {
    .sub-sub{
        margin-top: 3.1vh !important;
    }
    p{
        line-height: 40px !important;
        font-size: 100px !important;
    }
    .swiper-pagination{
        left: -36vw !important;
    }
}

