#destination{
    background-image: url(../../assets/destination/background-destination-mobile.jpg);
    @include bg;
    h5{
        @include heading5-mb;
        color: $white;
        text-align: center;
        padding-top: 2.8235294117647vh;
        padding-bottom: 3.7647058823529vh;
        span{
            font-weight: bold;
            mix-blend-mode: normal;
            opacity: 0.25;
            padding-right: 18px;
        }
    }
    .tab{
        position: absolute;
        text-align: center;
        top: 39.529411764706vh;
        // width: 327px;
        width: 100vw;
        display: flex;
        list-style: none;
        gap: 32px;
        justify-content: center;
        // z-index: -1;
        // padding-top: 3.0588235294118vh;
        li{
            button{
                background: none;
                border: none;
                text-decoration: none;
                color: $lightblue;
                font-size: 14px;
                text-transform: uppercase;
                font-family: $barlovC;
                letter-spacing: 2.36px;
                padding-bottom: 1.2941176470588vh;
                &:hover{
                    border-bottom: 3px solid rgba(255,255,255,0.25); 
                }
            }
        }
    }
    .tabcontent{
        display: none;
        text-align: center;
        img{
            width: clamp(8.75rem ,45.333333333333vw, 17.5rem);
            height:  clamp(8.75rem ,45.333333333333vw, 17.5rem);
        }
        article{
            h2{
                color: $white;
                text-transform: uppercase;
                font-size: 56px;
                margin-top: 8.7058823529412vh;
                font-family: $bellafair;
            }
            p{
                color: $lightblue;
                @include p-mb;
                padding-bottom: 3.7647058823529vh;
                line-height: 25px;
            }
            hr{
                @include line;
                z-index: -1;
            }

            figure{
                padding-top: 3.7647058823529vh;
                h6{
                    font-size: 14px;
                    letter-spacing: 2.36px;
                    font-family: $barlovC;
                    font-weight: 400;
                    color: $lightblue;
                    text-transform: uppercase;
                    padding-bottom: 1.4117647058824vh;
                }
                .sub-heading{
                    color: $white;
                    font-size: 28px;
                    font-family: $bellafair;
                    text-transform: uppercase;
                    padding-bottom: 0;
                }
            }
        }
    }
}

@media screen and(min-width: 768px) {
    #destination{
        background-image: url(../../assets/destination/background-destination-tablet.jpg);
        @include bg;    
        h5{
            text-align: start !important;
            @include heading5-hm-tb;
            padding-top: 3.90625vh;
            padding-bottom: 5.859375vh;
            span{
                padding-right: 19px;
            }
        }
        .tab{
            top: 55.25703125vh;
            // padding-top: 5.17578125vh;
            // padding-bottom: 3.125vh;
            
            li{
                button{
                    font-size: 16px !important;
                    letter-spacing: 2.7px !important;
                    padding-bottom: 1.171875vh;
                }
            }
        }
        .tabcontent{
            width: 74.609vw; 
            margin: 0 auto;
            img{
                width: clamp(17.5rem ,39.063vw, 26.25rem);
                height: clamp(17.5rem ,39.063vw, 26.25rem);
            }
            h2{
                margin-top: 10.52109375vh !important;
                font-size: 80px !important;
                padding-bottom: 14px;
            }
            p{
                @include p-tb; 
                padding-bottom: 4.78515625vh !important;
            }
            .wraper-inf{
                display: flex;
                justify-content: center;
                gap: 2.734vw;
                figure{
                    width: 29.427vw;
                    p{
                        padding-bottom: 0 !important;
                    }
                    .sub-heading{
                        font-size: 28px !important;
                    }
                }
            }
        }
    }
}

@media screen and(min-width: 1024px){
    #destination{
        background-image: url(../../assets/destination/background-destination-desktop.jpg);
        @include bg;
        h5{
            @include heading5-hm-pc;
            padding-left: 5.069vw;
            padding-top: clamp(3.125rem,8.444444444444445vh,3rem);
            padding-bottom: clamp(2.8125rem, 5.888888888888888vh,3.625rem);
        }
        .tab{
            width: 500px;
            top: 37vh;
            left: 46.5vw;
            li{
                button{
                    font-size: 1.1111111111111vw !important;
                    letter-spacing: 0.15625vw !important;
                }
            }
        }
        .tabcontent{
            // display: flex !important;
            .wraper{
                display: flex;
                text-align: start;
                gap: 10.903vw;
                img{
                    width: clamp(26.25rem ,30.903vw, 32.75rem);
                    height: clamp(26.25rem ,30.903vw, 32.75rem);
                    margin-top: 6.666666666666667vh;
                }
                article{
                    width: 30.903vw;
                    p{
                        @include p-pc;
                    }
                    h2{ 
                        margin-top: 11.72109375vh !important;
                        // margin-top: 0 !important;
                        font-size: clamp(5rem ,6.9444444444444vw,7.5rem) !important;
                    }
                    .wraper-inf{
                        h6{
                            font-size: 0.97222222222222vw;
                        }
                        .sub-heading{
                            font-size: 1.9444444444444vw !important;
                        }
                    }
                }
            }
        }
    }
}

@media screen and(min-width: 1700px){
    .tab{
        left: 46.7vw !important;
    }
}




